.logs {
  background: #333;
  display: flex;
  color: #feee;
  flex-direction: column;
  margin: 3rem 0;
  justify-content: center;
  align-items: center;
  border: 3px solid steelblue;
  border-radius: 3rem;
  padding: 1rem;
}