.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1050;
  display: flex;
  align-items: baseline;
  background: rgba(3, 3, 3, 0.315);
  width: 100%;
  min-height: 100vh;
}

.modalBox {
  position: absolute;
  left: 0;
  right: 0;
  width: 52%;
  overflow: hidden;
  padding: 16px;
  margin: 50px auto;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  background: #fff;
  /* border: 0.5px solid #e8e8e8; */
  border: 2px solid #333;
  height: 25rem;
}

.modalBg {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
}