.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1050;
  display: flex;
  align-items: baseline;
  background: rgba(3, 3, 3, 0.315);
  width: 100%;
  min-height: 100vh;
}

.modalBox {
  position: absolute;
  left: 0;
  right: 0;
  width: 52%;
  overflow: hidden;
  padding: 16px;
  margin: 50px auto;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  background: #fff;
  /* border: 0.5px solid #e8e8e8; */
  border: 2px solid #333;
  height: 25rem;
}

.modalBg {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: rgba(0, 0, 0, 0.5);
}



.addlog {
  background: rgba(24, 61, 141, 0.664);
  height: 100%;
}



#close-modal {
  cursor: pointer;
  margin-right: auto;
}

.addlog form {
  padding: 1rem .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addlog form {
  padding: .5rem;

}

.addlog {
  border: 2px solid red;
  ;
}

.addlog form input[type="text"] {
  border: 2px solid #333;
  font-size: 1.2rem;
  box-shadow: 1px 2px 2px 1px #333;
  transition: all 300ms ease-in-out;
  width: 25rem;

}

.addlog form input[type="checkbox"] {
  border: 2px solid #333;
  font-size: 1.2rem;
  box-shadow: 1px 2px 2px 1px #333;
  transition: all 300ms ease-in-out;
  width: 25rem;

}

.addlog form input[type="text"]:hover {
  box-shadow: 1px 2px 2px 1px #3232;
  border: 3px solid #3232;
}

.addlog form input[type="text"]:focus {
  box-shadow: 1px 2px 2px 1px #3232;
  border: 3px solid rgba(29, 23, 29, 0.932);
  width: 35rem;
}

form select {
  width: 100%;
  padding: 3rem;
}